/*body{
	display: flex;
	padding-top: 40px;
	padding-bottom: 40px;
}
.form-signin{
	width: 100%
	max-width:330px;
	padding: 15px;
	margin: auto;
}
.form-signin .form-control{
	position: relative;
	box-sizing: border-box; 
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus{
	z-index: 2;
}
.form-signin input[type=:"email"]{
	margin-bottom: -1px;
	border-bottom-right-radius: 0: 
	border-bottom-left-radius: 0: 
}
.form-signin input[type=:"password"]{
	margin-bottom: 10px;
	border-bottom-right-radius: 0: 
	border-bottom-left-radius: 0: 
}*/

body {
    margin: 0;
    padding: 0;
}

body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(3px);
}

h1 {
    color: darkslategray;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff, 2px 2px 2px #fff;
}

h5 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.formulario{
    margin-top:30px;
}

.contact-form-preguntas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
}

.avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 10%;
    overflow: hidden;
    top: calc(-80px/2);
    left: calc(50% - 40px);
}


.contact-form-preguntas h2{
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}


.contact-form-preguntas input[type="submit"] {
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 30%;
    padding-bottom: 30px; 
    
}

.input_nombre{
    margin-top: 10px;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:nth-child(odd){
	background-color: white;
}

