header{
	background: #2c3e50;
	color: #FFF;
}

.main{
	background: #f2f2f2;
	color: black;
}

.color1{
	background: #34495e;
	color: #fff;
}

aside{
	background: #16a085;
	color: #fff;
}

footer{
	background: #16a085;
	color: #fff;
}

.column{
	background: blue;
}